<body bgcolor="black">
<h1>Proyecto Final, Ingeniería en Software</h1>
<h4>Clavería Cervantes Miguel Ángel</h4>
<h5>Grupo: 2660</h5>
<div class="jumbotron">
  <h1 class="display-4">NFL Teams</h1>
  
<a class="btn btn-primary" href="/api/nfl" role="button">Buscar API</a>
<br><br>


<h1>Registro de nuevo equipo</h1>
<form action="/api/nfl/" method="post">
  <img src="https://a.espncdn.com/combiner/i?img=/i/teamlogos/leagues/500/nfl.png" alt="nfl">
  <br><br>
  <input type="text" placeholder="Nombre del equipo" name="nombre" required>
  Conferencia:
  <select name="conferencia">
  <option value="AFC">AFC</option>
  <option value="NFC">NFC</option>
  </select>
  División:
  <select name="division">
  <option value="Este">Este</option>
  <option value="Norte">Norte</option>
   <option value="Sur">Sur</option>
  <option value="Oeste">Oeste</option>
  </select>
  <input type="text" placeholder="Ciudad" name="ciudad" required>
  <input type="url" name="image" placeholder="URL de imagen" autocomplete="off" required> 
  <input type="submit"  value="Guardar">
</form>


</body>